<nav class="navbar fixed-top navbar-expand-lg bg-body-tertiary" style="background: rgba(1,1,1,0.2) !important; z-index: 1; height: 20vh;">
    <div class="container-fluid d-flex flex-column text-white">
      <a class="navbar-brand fs-1 text-white" href="/"><b>PETS SHELTER</b></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex gap-2 text-white">
          <li class="nav-item">
            <a class="nav-link active text-white" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#">Find pets</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              About
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/faq">FAQ</a></li>
              <li><a class="dropdown-item" href="/resources">Resources</a></li>
              <li><a class="dropdown-item" href="/contact">Contact</a></li>
            </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Account
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/login">Login</a></li>
                <li><a class="dropdown-item" href="/register">Create an account</a></li>
              </ul>
              </li>
        </ul>
        <form class="d-flex gap-3" role="search">
            </form>
      </div>
    </div>
  </nav>