<nav class="navbar fixed-top navbar-expand-lg bg-body-tertiary" style="background: rgba(1,1,1,0.2) !important; z-index: 1; height: 20vh;">
    <div class="container-fluid d-flex flex-column text-white">
      <a class="navbar-brand fs-1 text-white" href="/">
        <img src="/pics/logo" width="48" height="48"/>
        <b class="titlelogo"> Quezon City Animal Care and Adoption Center </b>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-1g-0 d-flex gap-4 text-white ">
          <li class="nav-item">
            <a class="nav-link active text-white" aria-current="page" style="font-size: 15pt;" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" style="font-size: 15pt;" href="/browse">Find pets</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" style="font-size: 15pt;" href="/events">Events</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-white" href="#" role="button" style="font-size: 15pt;" data-bs-toggle="dropdown" aria-expanded="false">
              Projects
            </a>
          
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/projects/spay">Spay and Neuter Program</a></li>
              <li><a class="dropdown-item" href="/projects/adopt">Adoption Program</a></li>
              <li><a class="dropdown-item" href="/projects/education">Human Education</a></li>
            </ul>
            </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-white" href="#" role="button" style="font-size: 15pt;" data-bs-toggle="dropdown" aria-expanded="false">
              About
            </a>
          
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/faq">FAQ</a></li>
              <li><a class="dropdown-item" href="/resources">Resources</a></li>
              <li><a class="dropdown-item" href="/contact">Contact</a></li>
            </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-white" href="#" role="button"  style="font-size: 15pt;" data-bs-toggle="dropdown" aria-expanded="false">
                {% if user %}
                  {{ user }}
                  {% else %}
                  Account
                  {% endif %}
              </a>
              <ul class="dropdown-menu">
                {% if user %}
                <li><a class="dropdown-item" href="/password">Change password</a></li>
                <li><a class="dropdown-item" href="/logout">Logout</a></li>
                {% else %}
                <li><a class="dropdown-item" href="/login">Login</a></li>
                <li><a class="dropdown-item" href="/register">Create an account</a></li>
                {% endif %}
              </ul>
              </li>
        </ul>
        <form class="d-flex gap-3" role="search">
            </form>
      </div>
    </div>
  </nav>