@import url('https://fonts.googleapis.com/css2?family=Chango&family=Itim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&display=swap');

* {
    font-family: "Funnel Display" !important;
}

chaindesk-chatbox-bubble {
    background-color: rgba(255, 255, 255, 0.5); /* Adjust transparency */
    backdrop-filter: blur(10px); /* Optional: adds blur effect */
    border-radius: 10px; /* Rounded corners */
    padding: 10px;
    position: absolute;
    display: flex;
    bottom: 10px !important;
    z-index: 99999;
    right: 20px;
}

.nav-link:hover {
    font-weight: bold;
    border-radius: 0;
    color: gold !important;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: gold;
    border-top: 5px solid gold;
}

.titlelogo {
    font-family: "Anton", !important;
    font-weight: 400;
    font-size: 120%;
    font-style: normal;
}

.alttitle {
    font-family: "Itim" !important;
    font-weight: 700;
    font-style: italic;
}

.fade-in {
    opacity: 0;
    transform: translateY(50px);
    transition: all 1s ease-out;
}

.active {
    opacity: 1;
    transform: translateY(0);
}

.circularcard {
    height: 600px;
    width: 600px;
    padding: 20px;
    border-radius: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(1,1,1,0.3);
    color: white !important;
    border: 5px gold solid;
}

.circularcardsuccess {
    height: 600px;
    width: 600px;
    border-radius: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,128,0, 0.3);
    color: white !important;
    border: 5px green solid;
}

.circularcardfailed {
    height: 600px;
    width: 600px;
    border-radius: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(128,0,0, 0.3);
    color: white !important;
    border: 5px red solid;
}

.boxcard {
    height: auto;
    width: 600px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(1,1,1,0.3);
    color: white !important;
    border: 5px gold solid;
}

.hidden {
    display: none !important;
}

.card:hover {
    border: 5px gold solid;
}