<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Test</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
    </head>
    <body>
      {% include 'header.html' %}
          <section class="hero is-large is-dark is-fluid">
            <div class="hero-body">
              <p class="title is-1">Adopt a Pet Today.</p>
              <p class="subtitle is-4">Find your new best friend.</p>
              <div class="buttons">
                <a class="button is-primary is-large" href="/eligibility">Take a test</a>
                <a class="button is-dark">Browse for pets</a>
              </div>
            </div>
          </section>
          <!--script src="../static/main.js" async defer></script-->
        <script src="{{ url_for('static',filename='main.js') }}" async defer></script>
    </body>
</html>