<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Test</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
    </head>
    <body>
        {% include 'header.html' %}
        <section class="hero is-large is-dark is-fluid">
            <div class="hero-body has-text-centered">
                <div class="columns is-flex is-centered">
                    <figure class="image is-128x128">
                        <img class="image is-128x128 is-centered" src="/pics/0.png">
                    </figure>
                </div>
                
                <p class="title is-1">Pet name</p>
                <p class="subtitle is-4">Isn't he cute?</p>
                <nav class="level is-mobile">
                    <div class="level-item has-text-centered">
                      <div>
                        <p class="heading">Sex</p>
                        <p class="title">Male</p>
                      </div>
                    </div>
                    <div class="level-item has-text-centered">
                      <div>
                        <p class="heading">Age</p>
                        <p class="title">6 months</p>
                      </div>
                    </div>
                    <div class="level-item has-text-centered">
                      <div>
                        <p class="heading">Color</p>
                        <p class="title">Brown</p>
                      </div>
                    </div>
                    <div class="level-item has-text-centered">
                      <div>
                        <p class="heading">Size</p>
                        <p class="title">Large</p>
                      </div>
                    </div>
                  </nav>
                  <div class="section">
                    <p class="title is-6">Comments</p>

                    <div class="container is-fluid card p-3">
                        <input type="text" class="input is-large" placeholder="Comment..." id="commentContent">
                        <button class="button is-medium m-3 is-primary w-100" onclick="postComment();" id="commentBtn" disabled>Post comment</button>
                    </div>
                    <div id="comments">
                        <div class="container is-fluid card p-3 skeleton-block" id="error-card">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare
                                      magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa
                                      sem. Etiam finibus odio quis feugiat facilisis.
                        </div>
                    </div>
                    
                  </div>
              </div>
        </section>
        <script src="{{ url_for('static',filename='pet.js') }}" async defer></script>
    </body>
</html>