<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Test</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">

    </head>
    <body class="has-background-dark has-text-white">
        {% include 'header.html' %}
          <section class="hero is-medium">
            <div class="hero-body">
              <p class="title has-text-light is-1">Eligibility</p>
              <div class="block" id="card">
                <div class="container-fluid">
                  <div class="content is-hidden" id="quiz">
                    <p class="title" id="question-cat">Category</p>
                    <p class="subtitle has-text-white" id="question-text">Take this test to see if you are an eligible owner.</p>
                    <div class="grid buttons" id="choicescontent">

                    </div>
                  </div>
                  </div>
                
                <div class="has-text-centered title" id="ready">
                    <p class="title is-size-1">Are you ready?</p>
                    <p class="subtitle has-text-white">Click the button to start</p>
                    <button class="button is-primary is-large" id="start-btn">
                        <strong>Let's start!</strong>
                    </button>
                </div>

                <div class="has-text-centered title is-hidden" id="result">
                  <p class="title is-size-1" id="result-text">Congratulations</p>
                  <p class="has-text-light subtitle" id="result-text-desc">You have passed the test</p>
                  <div class="container-fluid m-6 is-hidden" id="code">
                    <input class="input has-background-light" type="text" placeholder="Enter the code"/>
                  </div>
                  <a class="button is-dark is-large mt-6" id="continue-btn" href="/search">
                      <strong>Proceed</strong>
                  </a>
              </div>
                
              </div>
            </div>
          </section>
          <section class="hero is-large is-fluid">
            <div class="hero-body">
                
            </div>
          </section>
          <script src="../static/main.js" async defer></script>
          <script src="../static/quiz.js" async defer></script>
        <!--script src="{{ url_for('static',filename='main.js') }}" async defer></script>
    </body>
</html>